#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  font-family: Arial, sans-serif;
  background-color: blanchedalmond;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  color: #333;
  margin-bottom: 20px;
}

.container {
  width: 90%;
  max-width: 800px;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

input[type="text"] {
  width: calc(100% - 110px);
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-right: 10px;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  margin: 6px; /* Margin for buttons */
}

button:hover {
  background-color: #0056b3;
}

.task-list {
  margin-top: 20px;
}

.task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.task:last-child {
  border-bottom: none;
}

.task span {
  flex-grow: 1;
  margin-left: 10px;
}

.task input[type="checkbox"] {
  margin-right: 10px;
}

.task button {
  background-color: #dc3545;
}

.task button:hover {
  background-color: #c82333;
}

.filters {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}

.filters button {
  background-color: #6c757d;
}

.filters button:hover {
  background-color: #5a6268;
}
